
.galeria-page {
    padding: 40px 20px;
    text-align: center;
}

.container-cards {
    display: flex;
    flex-direction: column;
    gap: 30px; 
    align-items: center; 
}

@media (min-width: 768px) {
    .galeria-page {
        padding: 40px; 
    }
    .container-cards {
        
        gap: 60px; 
    }

    .container-cards .card:nth-child(even) {
        flex-direction: row-reverse;
    }

    .container-cards .card:nth-child(even) .image-wrapper { 
        margin-left: 0;
        margin-right: 40px;
    }
}