
.disextenc {
    background-color: #F5AC00;
    padding: 40px 0;
    text-align: center;
}
.disextenc h2 {
    color: #333;
    font-size: 28px;
    margin-bottom: 30px;
    padding: 0 20px;
}
.carrossel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px; 
    position: static; 
}
.card-wrapper {
    width: 100%;
    max-width: 700px; 
    position: relative;
}
.botao-carrossel {
    display: none;
}
.principal {
    display: block; 
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}
.principal.ativo {
    opacity: 1;
    visibility: visible;
    position: static;
}
.principal .titulo {
    background-color: #F5AC0038;
    padding: 20px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.principal .titulo h3 { margin: 0; font-size: 22px; color: #333; }
.principal .txt { padding: 25px; color: #555; line-height: 1.6; text-align: left; }
.carousel-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 25px;
}
.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #333;
    opacity: 0.4;
    cursor: pointer;
    transition: opacity 0.3s ease;
}
.dot.active { opacity: 1; }
@media (min-width: 900px) {

    .disextenc {
        padding: 50px 0;
    }
    .disextenc h2 {
        font-size: 40px;
        margin-bottom: 40px;
    }
    .carrossel-container {
        position: relative;
        padding: 0 40px;
    }
    .card-wrapper {
        width: 100%;
        max-width: 700px; 
        z-index: 10;
    }
    .botao-carrossel {
        display: block;
        position: absolute; 
        top: 50%;
        transform: translateY(-50%);
        z-index: 5; 

        background-color: #D9D9D9;
        width: 100px; 
        height: 300px;
        border-radius: 15px;
        cursor: pointer;
        transition: filter 0.2s;
    }
    .botao-carrossel:hover {
        filter: brightness(85%);
    }

    .botao-carrossel.esquerda {
        left: 40px; 
    }
    .botao-carrossel.direita {
        right: 40px;
    }
    .principal .titulo { padding: 25px; }
    .principal .titulo h3 { font-size: 26px; }
    .principal .txt { padding: 35px; }
    .carousel-dots {
        display: none;
    }
}