
.hero-title-bar {
    background-color: #0A244E;
    color: white;
    padding: 30px 20px; 
}

.hero-title-bar h1 {
    font-size: 28px; 
    font-weight: 700;
    margin: 0; 
}
@media (min-width: 768px) {
    .hero-title-bar {
        padding: 40px 80px; 
    }

    .hero-title-bar h1 {
        font-size: 36px; 
    }
}