
.card {
    display: flex;
    flex-direction: row;
    align-items: center; 
    background-color: #fff3da; 
    width: 100%;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    overflow: hidden; 
}
.texto {
    flex: 1; 
    text-align: left;
    font-size: 15px;
    color: #222;
    padding-right: 15px;
}
.texto h3 { 
    margin-bottom: 10px; 
    color: #002855;
    font-size: 18px; 
}
.image-wrapper {
    position: relative; 
    flex-shrink: 0; 
    width: 80px; 
    height: 80px; 
    
    margin-top: 0; 
}
.image-wrapper .background-square {
    position: absolute;
    width: 100%; 
    height: 100%;
    background-color: #0A244E;
    border-radius: 8px;
    top: 0;
    left: 0;
    z-index: 1; 
}
.imagem {
    width: 80%; 
    height: 80%;
    border-radius: 8px;
    object-fit: cover;
    display: block;
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
@media (min-width: 900px) { 

    .card {
        flex-direction: row; 
        max-width: 900px; 
        padding: 40px;
        min-height: 220px;
        position: relative; 
        overflow: visible; 
    }

    .texto {
        flex: 1;
        padding-right: 360px; 
        font-size: 16px; 
    }
    .texto h3 {
        font-size: 20px; 
    }
    .image-wrapper {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 40px; 
        width: 300px;
        height: 240px;
        
        margin-top: 0;
    }
    .container-cards .card:nth-child(even) .texto {
        padding-right: 0; 
        padding-left: 360px; 
    }
    
    .container-cards .card:nth-child(even) .image-wrapper {
        right: auto; 
        left: 40px;  
    }
}