
.section-item {
    margin-bottom: 30px;
}
.section-item:last-child {
    margin-bottom: 0;
}

.section-item h2 {
    color: #0A244E; 
    font-size: 24px; 
    font-weight: 700;
    margin-bottom: 15px;
    text-transform: capitalize;
}

.section-item p {
    color: #666;
    font-size: 16px;
    line-height: 1.6;
}

@media (min-width: 768px) {
    .section-item {
        margin-bottom: 40px; 
    }

    .section-item h2 {
        font-size: 30px; 
        margin-bottom: 20px;
    }
}